<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="maven.compiler.source=17"/>
        <listEntry value="maven.compiler.target=17"/>
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=com.maven"/>
        <listEntry value="artifactId=Maven2"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.maven.Maven2"/>
        <listEntry value="outputDirectory=E:\javaprojects"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Ramana\AppData\Local\Temp\m2e-archetypeGenerator13085600758904740655"/>
</launchConfiguration>
