

<p>Today is {{today|date:'dd/MM/yyyy'}}</p>


<p>{{amount|number:"3.2-2"}}</p>

{{name}}<br>
{{name|convert:'U'}} <br>
{{name|convert:'L'}}
<br>
{{name|convert}}


<input type='text' [(ngModel)]='x'> <br>
<div>Square root of {{x}} is {{x|sqrt|number:'1.0-2'}}</div>

<h2 changeColor [color]="'red'">This text will change to red when mouse enters</h2>
<h2 changeColor [color]="'blue'">This text will change to blue when mouse enters</h2>
<h2 changeColor >This text will change to green when mouse enters</h2>