.chat {color: black; padding:3px; border-bottom-width: 1px; border-bottom-color: white; border-bottom-style: dashed}
.field label {display:inline-block; width:140px; margin: 2px}
.field input {display:inline-block; margin: 2px}
.header {background: #7777EE;color:white;font-size: 120%; font-weight: bold; padding:15px}
.footer {background: #7777EE;color:white;padding:15px; font-size: 80%;}
.content {background: #DEDEFF; padding:15px}