<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd"
>


	<bean id='dept' class="com.trg.beans.Department">
		<property name="deptId" value="10"></property>
		<property name="name" value="Technical"></property>
	</bean>

	<bean id="emp1" class="com.trg.beans.Employee">
		<property name="empId" value='111'></property>
		<property name="name" value="Suresh"></property>
		<property name="salary" value='35000'></property>

	</bean>

	<bean id="emp2" class="com.trg.beans.Employee" autowire="byName">
		<property name="empId" value='222'></property>
		<property name="name" value="Ramya"></property>
		<property name="salary" value='45000'></property>

	</bean>

	<bean id="emp3" class="com.trg.beans.Employee" scope='prototype'>
		<constructor-arg value="333"></constructor-arg>
		<constructor-arg value="Ramana"></constructor-arg>
		<constructor-arg ref="dept1"></constructor-arg>
		<constructor-arg value="22222"></constructor-arg>
	</bean>


	<bean id="eng1" class="com.beans.Engine"></bean>
	<bean id='body1' class="com.beans.Body" />
	<bean id='t1' class="com.beans.Tyres" />

	<bean id="car" class="com.beans.Car" autowire="byType">


	</bean>


</beans>