<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>List of Courses</h4>
      </div>

      <div class="col-md-4">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let course of courseItems | async"
          >
            <b> {{ course.name }}: </b> {{ course.duration }} weeks
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <div class="card p-4 shadow-sm">
          <form #courseform="ngForm" (ngSubmit)="addCourse(courseform)">
            <div class="form-group">
              <label for="name">Course Name</label>
              <input
                type="text"
                class="form-control"
                ngModel
                name="name"
                id="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="duration">Duration in Weeks</label>
              <input
                type="text"
                class="form-control"
                ngModel
                name="duration"
                id="duration"
                required
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="courseform.invalid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
